@{
    ViewBag.Title = "Home Page";
}

@**<div class="jumbotron">
   
</div>**@

<div class="row" style="width:initial; height:initial;">
    <iframe class="embed-responsive-item" src="http://127.0.0.1:5002/getSchedule?from=1576569507793&to=1579161507794" width="1100" height="550"   frameborder="0" align="middle" allowfullscreen="allowfullscreen"></iframe>



</div>